.httr-oauth
.Rproj.user
build/archive
mathematics/items_tofix
mathematics/source
reading/source
shiny/MathItems/repo
shiny/MathItems/www
shiny/ReadingItems/repo
shiny/ReadingItems/www
shiny/Feedback/repo
